@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@source "../views";

@theme {
    --font-nunito: "Nunito", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
}

/* Custom Class */
.floating-cat {
    animation: float 6s ease-in-out infinite;
}

.game-card {
    transition: all 0.3s ease;
    transform: translateY(0);
}

.game-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}